
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <style>
body{
    text-align: center;
    background-image: url("hack3.webp");
}
pre{
    color: black;
    font-size: 15px;
}
h1,label{
    color: rgb(50, 61, 67);
    
}

    </style>
    <body>

        <div id="a"><img src="hack.jpg" width="100px" height="100px"
                alt><h1>Form Fill Up</h1></div>

        <form action="sala" method="post">
            <pre> <label for="name">NAME :</label><br></pre>
            <input type="text" placeholder="name" name="name"><br>

            <!-- <input type="submit"> -->
            <pre> <label for="gen">GENDER :</label><br></pre>
            <input type="text" placeholder="gender" name="gen"><br>

            <pre><label for="age">AGE :</label><br></pre>
            <input type="number" placeholder="age" name="age"><br>

            <pre><label for="bg">BLOOD GROUP :</label><br></pre>
            <input type="text" placeholder="bllod-group" name="bg"><br>

            <pre> <label for="phone">PHONE NUMBER :</label><br></pre>
            <input type="number" placeholder="phone" name="phone"><br>

            <pre> <label for="phone">Health_condition :</label><br></pre>
            <input type="text" placeholder="write here..."
                name="Health_condition"><br>

            <pre> <label for="phone">Date :</label><br></pre>
            <input type="datetime" placeholder="Date" name="date"><br>

            <input type="submit">
        </form>
        <script> console.log("success")

    </script>

    </body>

</html>