<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <nav>
            <a href="/logout">Logout</a>
        </nav>
        <img
            src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg"
            alt>
        <h1>loggedin</h1>
    </body>
</html>